<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>SB_web site</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StoryBlog_DBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=StoryBlog_DB;Persist Security Info=True;User ID=sa;Password=123456;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MVC_StoryBlog.Models.StoryBlog_DBEntities, MVC_StoryBlog" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=StoryBlog_DB;User ID=sa;Password=123456;Application Name=EntityFramework" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-MVC_StoryBlog-20170825153654.mdf;Initial Catalog=aspnet-MVC_StoryBlog-20170825153654;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-MVC_StoryBlog-20170825153654;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-MVC_StoryBlog-20170825153654.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=StoryBlog_DB;User ID=sa;Password=123456;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StoryBlog_DBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model_sb.csdl|res://*/Models.Model_sb.ssdl|res://*/Models.Model_sb.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.;Initial Catalog=StoryBlog_DB;Persist Security Info=True;User ID=sa;Password=123456;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>