@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
        }

        body {
            /*background-color: blue;*/
        }

        #con {
            border: 2px solid #808080;
            height: 260px;
            width: 200px;
            margin: 0px auto;
            background-color: rgba(155, 151, 151, 0.33);
        }

        a {
            margin-top: 10px;
            display: block;
            height: 30px;
            width: 200px;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            color: #808080;
            text-decoration: none;
            padding-top: 5px;
            padding-bottom: 5px;
        }

            a:hover {
                color: white;
                background-color: rgba(176, 171, 171, 0.56);
            }
    </style>
</head>
<body>
    <div id="con">
        <a href="/PersonalBlog/Article" target="PersonalRight">文章</a>
        <a href="/PersonalBlog/ArtCls" target="PersonalRight">分类</a>
        <a href="/PersonalBlog/PicCls" target="PersonalRight">相册</a>
        <a href="/PersonalBlog/Picture" target="PersonalRight">照片</a>
        <a href="/PersonalBlog/Attention" target="PersonalRight">关注</a>
    </div>
</body>
</html>
