@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>pFrame</title>
</head>
<frameset cols="220,*" rows="*" id="setFrame" frameborder="no" border="0" framespacing="0">

    <frame src="/PersonalBlog/PersonalLeft" name="leftpFrame" noresize scrolling="auto" id="left" title="leftpFrame" />

    <frame src="/PersonalBlog/Article" name="PersonalRight" noresize scrolling="auto" id="right" title="PersonalRight" />
  </frameset>

<body>
    <div>
    </div>
</body>
</html>
