* {
    margin: 0px;
    padding: 0px;
}


#video1 {
    position: relative;
    width: 100%;
}

#content {
    position: absolute;
    left: 0px;
    top: 0px;
    /*border: 1px solid cyan;*/
    height: auto;
    width: 100%;
}

#c_top {
    /*border: 1px solid red;*/
    height: 50px;
    width: 100%;
    background-color: rgba(202, 189, 189, 0.54);
}

    #c_top:hover {
        /*border: 1px solid red;*/
        height: 50px;
        width: 100%;
        background-image: url(../../Images/bj_zhuce.jpg);
    }

#t_con {
    /*border: 1px solid blue;*/
    height: 48px;
    width: 80%;
    margin: 0px auto;
}

    #t_con ul li {
        float: left;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        line-height: 48px;
        list-style: none;
        height: 48px;
        width: 23%;
    }

        #t_con ul li a {
            text-decoration: none;
        }

            #t_con ul li a:hover {
                color: white;
            }

/*中间内容样式*/
#c_midlle {
    width: 100%;
    height: 645px;
    /*border: 1px solid red;*/
    position: relative;
}

#cmfont {
    width: 600px;
    height: 300px;
    /*border: 1px solid cyan;*/
    margin-left: 50%;
    margin-top:6%;
}

.p_font {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

/*body {
    position:relative;
}*/

/*页脚样式*/
#c_bottom {
    /*border: 1px solid red;*/

    height: 30px;
    width: 100%;
    background-color: rgba(202, 189, 189, 0.54);
    position:absolute;
    bottom:-98px;
}

    #c_bottom:hover {
        /*border: 1px solid red;*/
        height: 30px;
        width: 100%;
        background-image: url(../../Images/bj_zhuce.jpg);
    }

    #c_bottom h4 {
        color: white;
        padding-top: 10px;
        text-align: center;
    }

        #c_bottom h4:hover {
            color: black;
            padding-top: 10px;
            text-align: center;
        }

/*后台登录样式*/
#adlogin {
    background-color: #fff;
    color: white;
}

    #adlogin:hover {
        background-color: rgba(197, 138, 215, 0.81);
        color: #9223a3;
    }

