* {
    margin: 0px;
    padding: 0px;
}

#tops {
    /*border: 1px solid red;*/
    height: 40px;
    width: 100%;
    /*background-image: url(../../Images/bj_zhuce.jpg);*/
    position: fixed;
    background-color: rgba(147, 143, 143, 0.21);
}



#t_con {
    /*border: 1px solid blue;*/
    height: 39px;
    width: 100%;
    margin: 0px auto;
}

    #t_con:hover {
        /*border: 1px solid blue;*/
        height: 39px;
        width: 100%;
        /*background-color: rgba(128, 128, 128, 0.21);*/
        background-image: url(../../Images/bj_zhuce.jpg);
        margin: 0px auto;
    }

    #t_con ul li {
        float: left;
        font-size: 25px;
        /*font-weight: bold;*/
        text-align: center;
        line-height: 39px;
        list-style: none;
        height: 48px;
        width: 23%;
    }

        #t_con ul li a {
            text-decoration: none;
            color: black;
        }

            #t_con ul li a:hover {
                color: white;
            }

#lr {
    float: right;
    line-height: 39px;
}

    #lr a {
        text-decoration: none;
    }

        #lr a:hover {
            color: orange;
        }

#contents {
    /*border: 1px solid rgba(147, 143, 143, 0.21);*/
    height: auto;
    width: 100%;
}

#banner {
    /*margin-top: 39px;*/
    /*border: 1px solid cyan;*/
    height: 280px;
    width: 100%;
    background-image: url(../../Images/bgpic.jpg);
}

#con {
    /*margin-top: 39px;*/
    /*border: 1px solid cyan;*/
    height: auto;
    width: 100%;
    margin-top: -20px;
}


#bottoms {
    /*border: 1px solid red;*/
    height: 40px;
    width: 100%;
    background-image: url(../../Images/bj_zhuce.jpg);
}

    #bottoms h4 {
        color: white;
        padding-top: 10px;
        text-align: center;
    }

#user {
    display: none;
}

#pic {
    border: 1px solid black;
    position: relative;
    left: 100px;
    top: -70px;
    border-radius: 70px;
    /*z-index: 1;*/
}

#flexbtn {
    /*float:right;*/
    border: 1px solid black;
    width: 100px;
    position: fixed;
    top: 45%;
    background-color: rgba(187, 179, 179, 0.14);
}

    #flexbtn a {
        width: 100px;
        height: 24px;
        margin: 4px;
    }

#picbox {
    /*border: 1px solid black;*/
    width: 1150px;
    height: auto;
    background-color: rgba(187, 179, 179, 0.14);
    margin: 0px auto;
    overflow: hidden;
}

    #picbox dl {
        float: left;
        border: 3px solid rgba(147, 143, 143, 0.71);
        background-color: rgba(187, 179, 179, 0.14);
        margin: 33px;
        height: auto;
        width: 106px;
        position: relative;
    }

.picb {
    font-size: 10px;
    height: 35px;
    width: 106px;
    position: absolute;
    color: #808080;
    top: 85px;
    background-color: rgba(90, 150, 200, 0.20);
    overflow: hidden;
}


.picblock {
    /*padding: 0 20px 20px;*/
    height: 120px;
    width: 106px;
    /*border: 1px solid black;*/
}

#sp {
    color: #808080;
}


.picDel {
    position: absolute;
    top: -8px;
    left: 95px;
    background-color: rgba(147, 143, 143, 0.71);
    height: 18px;
    width: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 9px;
    color: red;
}
