@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Frame</title>
</head>


<frameset cols="220,*" rows="*" id="setFrame" frameborder="no" border="0" framespacing="0">

    <frame src="/set/setLeft" name="leftFrame" noresize scrolling="auto" id="left" title="leftFrame" />

    <frame src="/set/UserInfo" name="setRight" noresize scrolling="auto" id="right" title="setRight" />
  </frameset>

<body>
    <div>
    </div>
</body>
</html>
