@{
    ViewBag.Title = "个人设置——因有事迹，才会浪漫！";
}

<link href="~/Content/css/setStyle.css" rel="stylesheet" />

@*内容div框架*@
<div id="content">
    @* 主体*@
    <div id="c_body">
        <iframe src="/set/frame" name="setFrame" frameborder="0" scrolling="no" id="Frame" title="personalFrame" width="100%"></iframe>
    </div>
</div>
