@{
    ViewBag.Title = "联系我们——因有事迹，才会浪漫！";
}

<link href="~/Content/css/ContactStyle.css" rel="stylesheet" />

@*内容div框架*@
<div id="content">
    @* 主体*@
    <div id="c_body">
        <h1>联系方式</h1>
        <h3>电话</h3>
        <p><span class="sp">唯一：</span>（+86）1388888xxxx</p>
        <h3>电子邮件</h3>
        <p><span class="sp">支持：</span>6423xxx@qq.com</p>
        <h3>地址</h3>
        <p>中国湖南省长沙市</p>
    </div>
</div>
