@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>文章浏览</title>

    <link href="~/Content/css/SelectArtStyle.css" rel="stylesheet" />
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript">

        $(function () {

            //显示kingEditor文本
            var con = $("#txta").val();
            $("#p3").html(con);


            //读取属于当前文档的所有cookies
            var allcookies = document.cookie;

            //定义一个函数，用来读取特定的cookie值。
            function getCookie(cookie_name) {
                var allcookies = document.cookie;
                var cookie_pos = allcookies.indexOf(cookie_name);   //索引的长度

                // 如果找到了索引，就代表cookie存在，
                // 反之，就说明不存在。
                if (cookie_pos != -1) {
                    // 把cookie_pos放在值的开始，只要给值加1即可。
                    cookie_pos += cookie_name.length + 1;      //这里容易出问题，所以请大家参考的时候自己好好研究一下
                    var cookie_end = allcookies.indexOf(";", cookie_pos);

                    if (cookie_end == -1) {
                        cookie_end = allcookies.length;
                    }

                    var value = unescape(allcookies.substring(cookie_pos, cookie_end));         //这里就可以得到你想要的cookie的值了。。。
                }
                return value;
            }


            var cookie_val = getCookie("User");

            $("#user").val(cookie_val);

            var user = document.getElementById("user").value;

            if (user != "") {
                var zx = "注销";
                document.getElementById("register").innerHTML = zx;
                document.getElementById("login").innerHTML = user;
                document.getElementById("login").href = "/set/index";
                document.getElementById("register").href = "/login/Index";
                document.getElementById("myarticle").href = "/myarticle/Index";
                document.getElementById("mypicture").href = "/mypicture/Index";
                document.getElementById("personalblog").href = "/personalblog/Index";
            }

        });


    </script>
    <style type="text/css">
        #flexbtn {
            /*float:right;*/
            border: 1px solid black;
            width: 100px;
            position: fixed;
            top: 45%;
            background-color: rgba(187, 179, 179, 0.14);
        }

            #flexbtn a {
                width: 100px;
                height: 24px;
                margin: 4px;
            }

        #selartcon {
            border: 1px solid green;
            height: 760px;
        }

        #cmcon {
            /*border: 1px solid red;*/
            height: 300px;
        }

        #cmFrame {
            border: 1px solid #808080;
            height: 300px;
        }

        .authorP {
            font-size: 14px;
            color: #92CADE;
            text-align: center;
        }

        .author {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div id="tops">
        <div id="t_con">
            <ul>
                <li><a href="/home">首页</a></li>
                <li><a id="myarticle" href="/login/index?flag=mya">写文章</a></li>
                <li><a id="mypicture" href="/login/index?flag=myp">上传照片</a></li>
                <li><a id="personalblog" href="/login/index?flag=per">个人中心</a></li>
            </ul>
            <p id="lr">
                <input id="user" /><span><a id="login" href="/login/index">登录</a></span>丨<span><a id="register" href="/register/index">注册</a></span>
            </p>
        </div>
    </div>

    <div id="contents">
        <div id="banner"></div>
        <img id="pic" src="@ViewBag.picture" width="140" height="140" />
        <div id="con">

            @*博客管理框架内容*@
            <div id="artcon">
                <div id="selartcon">
                    <h3 id="htit">@ViewBag.Title</h3>
                    <p class="authorP" id="p2">
                        作者：<a class="author" href="/author/index?uAc=@ViewBag.uAccount">@ViewBag.NickName</a>
                        &nbsp; 创建日期：@ViewBag.artCreateTime
                        &nbsp; 浏览数：@ViewBag.artHot
                        &nbsp; 评论数：@ViewBag.artComCnt
                        &nbsp;
                    </p>
                    <div id="frameContent" style="width: auto; height: 670px; overflow: hidden">
                        <div id="p3"></div>
                        <textarea id="txta" style="display: none">@ViewBag.artContent</textarea>
                    </div>

                    <div id="pages" style="font-size: 12px; width: auto; line-height: 40px; text-align: center;">
                        分页 页数
                    </div>
                    <script language="javascript">
                        var obj = document.getElementById("frameContent");  //获取内容层
                        var pages = document.getElementById("pages");         //获取翻页层
                        var pgindex = 1;                                      //当前页
                        window.onload = function ()                             //重写窗体加载的事件
                        {
                            var allpages = Math.ceil(parseInt(obj.scrollHeight) / parseInt(obj.offsetHeight));//获取页面数量
                            pages.innerHTML = "<b>共" + allpages + "页</b> ";     //输出页面数量
                            for (var i = 1; i <= allpages; i++) {
                                pages.innerHTML += "<a href=\"javascript:showPage('" + i + "');\">第" + i + "页</a> ";
                                //循环输出第几页
                            }
                            pages.innerHTML += " <a href=\"javascript:gotopage('-1');\">上一页</a>  <a href=\"javascript:gotopage('1');\">下一页</a>"
                        }
                        function gotopage(value) {
                            try {
                                value == "-1" ? showPage(pgindex - 1) : showPage(pgindex + 1);
                            } catch (e) {

                            }
                        }
                        function showPage(pageINdex) {

                            obj.scrollTop = (pageINdex - 1) * parseInt(obj.offsetHeight);                                                                  //根据高度，输出指定的页
                            pgindex = pageINdex;
                        }
                    </script>
                </div>

                <div id="cmcon">
                    @*文章评论框架内容*@
                    <iframe src="/home/SelectArtCM" name="cmFrame" frameborder="0" scrolling="no" id="cmFrame" title="cmFrame" width="100%"></iframe>
                </div>
            </div>

        </div>
    </div>

    <div id="bottoms">
        <h4>Copyright (c) StoryBlog . All Rights Reserved .</h4>
    </div>

</body>
</html>
